body{
    background-image: url('633.jpg');
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.green{
    border: 5px solid green;
    background-color: white;
    margin: 0 10%;
}

.red{
    border: 5px solid red;
}

.yellow{
    border: 5px solid yellow;
    margin: 1px;
}

.blue{
    border: 5px solid blue;
    background-color: #E8FBFB;
    padding: 5px;
    margin: 0;
    margin-top: 10px;
}

.purple{
    border: 5px solid purple;
}